<section class="section background">
  <div class="section__title">About</div>
  <div class="section__content">
    <p>
      I'm currently a software engineer at
      <a class="underline-link" href="https://www.opendoor.com/" target="_blank">Opendoor</a>
      building analytics tooling and infrastructure. I recently graduated from the
      <a class="underline-link" href="http://www.arizona.edu/" target="_blank">University of Arizona,</a>
      where I studied Computer Science and Math.
    </p>

    <p>
      As a software engineer with experience in the business side of startups, I'm particularly interested in
      building analytics and data infrastructure platforms that empower everyone from operators to executives to navigate the seam between
      tech products and business operations.
    </p>

    <p>
      When I'm away from my computer, you can usually find me reading a book, listening to a podcast, drinking black coffee,
      or some combination of the three.
    </p>

  </div>
</section>
